@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

body{
    width: 100%;
    height: 100vh;
    background-color: rgba(175, 192, 255, 1);
    background-image: linear-gradient(72deg, rgba(175, 192, 255, 1) 0%, rgba(255, 129, 222, 1) 50%, rgba(210, 92, 92, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 90vh;
    height: 90vh;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 4px 4px 12px 0px rgba(66, 68, 90, 1);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.name{
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem;
    margin: 1rem;
    color: #181818;
}

.nav-button{
    background-color: white;
    color: #181818;
    text-decoration: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    padding: 0.7rem 1rem;
    margin: 1rem 0.5rem;
}

.nav-button:hover{
    background-color: #181818;
    color: white;
}

.nav-button-active{
    background-color: #181818;
    color: white;
}

nav:last-child{
    margin: 0 1rem;
}

.avatar{
    width: 70%;
    height: 70%;
    margin: 3rem 5rem;
}

.upper-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-upper{
    width: 50%;
}
.right-upper{
    width: 50%;
    margin: 3rem 5rem;
}

.hi-there{
    font-size: 3.5rem;
}

.my-carrer{
    font-size: 2rem;
}

.default-text{
    font-weight: 400;
    letter-spacing: 0.06rem;
    color: #222f3e;
    line-height: 1.5rem;
    margin-top: 0.5rem;
}

.lower-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-lower{
    width: 60%;
    margin: 2rem 5rem;
}
.right-lower{
    width: 40%;
    margin: 2rem;
}

.my-professions{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 3rem;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: #c8d6e5;
    box-shadow: 2px 2px 6px 0px rgba(66, 68, 90, 1);
    border-radius: 0.5rem;
}

@media (max-width: 640px) { 
    body{
        background-color: white;
        background-image: linear-gradient(72deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
    }
    .name{
        font-size: 1.5rem;
        padding: 0.5rem;
        margin: 1rem;
        color: #181818;
    }
    .container{
        display: block;
        height: 100vh;
        box-shadow: none;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }
    header{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .nav-button{
        background-color: white;
        color: #181818;
        text-decoration: none;
        border-radius: 0.5rem;
        font-size: 1rem;
        padding: 0.7rem 1rem;
        margin: 1rem 0.5rem;
    }
    
    .nav-button:hover{
        background-color: #181818;
        color: white;
    }
    
    .nav-button-active{
        background-color: #181818;
        color: white;
    }
    .avatar{ width: 100%; }
    .left-upper{ display: flex; justify-content: center;}
    .right-upper{ margin: 2rem; }
    .left-lower{ text-align: left; width: 50%;}
    .right-lower{ display:flex; flex-direction: column; text-align: left; width: 50%; }
    .hi-there{ text-align: center; font-size: 2.5rem;}
    .my-carrer{ text-align: center; font-size: 1.5rem;}
    .my-professions{
        text-align: center;
        font-size: 1rem;
        font-weight: 700;
        padding: 0;
        margin: 0.3rem;
        background-color: #c8d6e5;
        box-shadow: 2px 2px 6px 0px rgba(66, 68, 90, 1);
        border-radius: 0.5rem;
    }
    .upper-content{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .lower-content{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}